In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [6]:
data = pd.read_csv("dataset/basketball_stat.csv")
print("data shape:", data.shape)

data shape: (100, 8)

In [9]:
data.info()
data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  100 non-null    object
 1   Pos     100 non-null    object
 2   3P      100 non-null    float64
 3   2P      100 non-null    float64
 4   TRB     100 non-null    float64
 5   AST     100 non-null    float64
 6   STL     100 non-null    float64
 7   BLK     100 non-null    float64
dtypes: float64(6), object(2)
memory usage: 6.4+ KB

              3P          2P         TRB         AST         STL        BLK
count  100.00000  100.000000  100.000000  100.000000  100.000000  100.00000
mean     1.08200    3.265000    5.030000    1.892000    0.725000    0.69600
std      0.91424    1.843053    3.098599    1.257357    0.343004    0.59661
min      0.00000    0.500000    1.300000    0.200000    0.000000    0.10000
25%      0.00000    1.900000    2.875000    0.975000    0.500000    0.20000
50%      1.30000    2.900000    3.900000    1.500000    0.700000    0.55000
75%      1.80000    4.450000    6.325000    2.600000    0.925000    1.00000
max      3.40000    9.700000   14.100000    5.900000    1.600000    3.00000