In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re

In [2]:
# 데이터 불러오기
Floating_Population_df = pd.read_csv("Dataset/시군별유동인구데이터.csv")

print("data shape:", Floating_Population_df.shape)
Floating_Population_df.info()
Floating_Population_df.describe()

data shape: (85104, 17)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85104 entries, 0 to 85103
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   년월               85104 non-null  int64
 1   출발지(야간체류지) 시군코드  85104 non-null  int64
 2   도착지 시군코드         85104 non-null  int64
 3   10대남성 유입인구       85104 non-null  float64
 4   20대남성 유입인구       85104 non-null  float64
 5   30대남성 유입인구       85104 non-null  float64
 6   40대남성 유입인구       85104 non-null  float64
 7   50대남성 유입인구       85104 non-null  float64
 8   60대남성 유입인구       85104 non-null  float64
 9   70대남성 유입인구       85104 non-null  float64
 10  10대여성 유입인구       85104 non-null  float64
 11  20대여성 유입인구       85104 non-null  float64
 12  30대여성 유입인구       85104 non-null  float64
 13  40대여성 유입인구       85104 non-null  float64
 14  50대여성 유입인구       85104 non-null  float64
 15  60대여성 유입인구       85104 non-null  float64
 16  70대여성 유입인구       85104 non-null  float64
dtypes: float64(14), int64(3)
memory usage: 11.0 MB

,년월,출발지(야간체류지) 시군코드,도착지 시군코드,10대남성 유입인구,20대남성 유입인구,30대남성 유입인구,40대남성 유입인구,50대남성 유입인구,60대남성 유입인구,70대남성 유입인구,10대여성 유입인구,20대여성 유입인구,30대여성 유입인구,40대여성 유입인구,50대여성 유입인구,60대여성 유입인구,70대여성 유입인구
count,85104.000000,85104.000000,85104.000000,85104.000000,85104.000000,85104.000000,85104.000000,85104.000000,85104.000000,85104.000000,85104.000000,85104.000000,85104.000000,85104.000000,85104.000000,85104.000000,85104.000000
mean,202006.500024,37656.114848,41424.121075,215.452711,165.141044,221.515915,250.583858,215.889585,103.618840,58.476227,203.289620,139.888766,180.861623,204.166371,176.973420,93.359018,82.877010
std,3.452080,11667.943036,205.355521,3699.559404,2345.816823,2811.244828,3157.197889,2669.634409,1314.032403,886.498227,3482.195438,2119.335305,2676.983929,3128.439899,2596.732309,1381.142099,1337.824244
min,202001.000000,11110.000000,41110.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,202004.000000,28710.000000,41250.000000,0.140000,1.050000,1.110000,1.580000,1.930000,0.960000,0.220000,0.110000,0.380000,0.477500,0.500000,0.810000,0.590000,0.340000
50%,202006.000000,42730.000000,41410.000000,1.780000,4.790000,4.690000,6.020000,6.740000,3.260000,1.070000,1.520000,2.400000,2.480000,2.300000,3.020000,2.120000,1.660000
75%,202010.000000,46730.000000,41590.000000,10.960000,22.370000,29.730000,36.392500,34.720000,14.680000,4.650000,9.850000,14.170000,15.412500,13.990000,14.662500,8.420000,5.750000
max,202012.000000,50130.000000,41830.000000,133773.250000,92398.990000,102973.350000,107392.460000,91768.770000,42795.410000,29273.330000,124334.470000,83439.940000,97905.690000,109369.230000,88862.410000,45300.300000,45911.660000

In [3]:
# 데이터 전처리
Depart = Floating_Population_df['출발지(야간체류지) 시군코드']
Arrival = Floating_Population_df['도착지 시군코드']
Depart_unique = Depart.unique()
Arrival_unique = Arrival.unique()

print(Depart_unique)
print(Arrival_unique)

[11170 11200 11215 11230 11350 11380 11410 11440 11260 11290 11305 11320
 11110 11140 11530 11545 11560 11590 11620 11650 11680 11710 11740 26110
 26140 26170 26200 26230 26260 26290 26320 26350 26380 26410 11470 11500
 26440 26470 26500 28200 28237 28245 26530 26710 27110 27140 27170 27200
 27230 27260 27290 27710 28110 28140 28177 28185 41110 41130 41150 41170
 28260 28710 28720 29110 29140 29155 29170 29200 30110 30140 30170 30200
 30230 31110 31140 31170 31200 31710 36110 41190 41210 41480 41500 41550
 41220 41250 41270 41280 41290 41310 41360 41370 41390 41410 41430 41450
 41460 42760 42770 42780 42790 41570 41590 41610 41630 41650 41670 41800
 41820 41830 42110 42130 42150 42170 42190 42210 42230 42720 42730 42750
 42800 42810 42820 44150 44180 44200 44210 42830 43110 43130 43150 43720
 43730 43740 43745 43750 43760 43770 43800 44130 45740 45750 45770 45790
 45800 44230 44250 44270 44710 44760 44770 44790 44800 44810 44825 45110
 45130 45140 45180 45190 45210 45710 45720 45730 46110 46130 46870 46880
 46890 46900 46150 46170 46230 46710 46720 46730 46770 46780 46790 46800
 46810 46820 46830 46840 46860 47920 47930 47940 48120 46910 47110 47130
 47150 47170 47190 47210 47230 47250 47280 47290 47720 47730 47750 47760
 47770 47820 47830 47840 47850 47900 48170 48220 48240 50110 50130 48250
 48270 48310 48330 48720 48730 48740 48820 48840 48850 48860 48870 48880
 48890]
[41590 41610 41630 41650 41670 41800 41820 41830 41110 41130 41150 41170
 41190 41210 41220 41250 41270 41280 41290 41310 41360 41370 41390 41410
 41430 41450 41460 41480 41500 41550 41570]

In [ ]:
# Mac
# plt.rcParams['font.family'] = 'AppleGothic'
plt.rcParams['font.family'] = 'Malgun Gothic'
sns.scatterplot(Depart, Arrival)
plt.show()

In [ ]:
CB_geoData = pd.read_csv('Dataset/address/address_transform.shp.csv')
len(CB_geoData)